*{box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
::selection {background: #ed1c24; color: #fff; text-shadow: none;}
::-moz-selection {background: #ed1c24; color: #fff; text-shadow: none;}
::-moz-placeholder {font-weight:normal; font-family: 'Roboto', sans-serif; opacity:1;}
::-web-placeholder {font-weight:normal; font-family: 'Roboto', sans-serif; opacity:1;}

body, html{ height:100%;}
body{margin:0px; padding:0px 0px 0px 0px; font-size:14px; color:#000; line-height:normal; font-family: 'Roboto', sans-serif; font-weight:400; background:#e4edf2; overflow-x:hidden;}
img{ max-width:100%;}
a{ outline:none; border:0px; text-decoration:none; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
a:active, a:hover, a:focus{ outline:none; border:0px; text-decoration:none; box-shadow:none;}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{ outline:none; border:0px; text-decoration:none; box-shadow:none;}
label{ font-weight:400;}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"]{ -webkit-appearance: none; -moz-appearance: none; appearance: none;}
input, textarea, select{outline:none; margin:0px; padding:0px; border-radius:25px; -ms-border-radius:25px; -webkit-border-radius:25px; border:0px; width:100%; background-color:transparent;}
/*input.form-control:focus, select.form-control:focus{ box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(238, 42, 50, 0.6)}*/
input[type="submit"]{outline:none; margin:0px; padding:0px; border-radius:25px; -ms-border-radius:25px; -webkit-border-radius:25px; border:0px; width:100%;}
input[type="checkbox"], input[type="radio"]{margin:0px; width:inherit; display:inline-block;}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"]{ margin-left:0px;}
h1, h2, h3, h4, h5, h6, p, ul, li{margin:0px; padding:0px; list-style:none;}
h1, h2, h3, h4, h5, h6{ font-family: 'Roboto', sans-serif; font-weight:normal; line-height:normal;}
h1 {font-size: 56px;}
h2 {font-size: 36px;}
h3 {font-size: 30px;}
h4 {font-size: 24px;}
h5 {font-size: 22px;}
h6 {font-size: 16px;}
sup{ font-size:55%; top:-0.6em;}
embed, iframe, object, video{margin-bottom:0px;}
.pull-left{ float:left;}
.pull-right{ float:right;}
.text-left{ text-align:left;}
.text-right{ text-align:right;}
.text-center{ text-align:center;}
.scrollerx{ overflow-x:auto;}
.scrollery{ overflow-y:auto;}

.row{margin:0px -5px 10px -5px;}
.row:last-child{ margin-bottom:0px;}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9{padding-left: 5px; padding-right: 5px; float: left}
.col-lg-12 {width: 100%}
.col-lg-11 {width: 91.66666667%}
.col-lg-10 {width: 83.33333333%}
.col-lg-9 {width: 75%}
.col-lg-8 {width: 66.66666667%}
.col-lg-7 {width: 58.33333333%}
.col-lg-6 {width: 50%}
.col-lg-5 {width: 41.66666667%}
.col-lg-4 {width: 33.33333333%}
.col-lg-3 {width: 25%}
.col-lg-2 {width: 16.66666667%}
.col-lg-1 {width: 8.33333333%}

table {color:#474747; font-weight:400; font-size:14px; border-collapse: collapse; border-spacing:0px; border:0px; width:100%; }
table thead th, table tbody td{ padding:8px 10px; margin:0px;}
table tr:hover{ background:#f5f5f5;}

.gridtable{ color:#828ca3;}
.gridtable thead tr{ border-bottom:3px solid #e4edf2;}
.gridtable tbody tr{ border-bottom:1px solid #e4edf2;}
.gridtable tbody tr:last-child{ border-bottom:0px solid #e4edf2;}

.filtertable{ color:#46687c;}
.filtertable thead tr{ border-bottom:3px solid #46687c;}
.filtertable tbody tr{ border-bottom:1px solid #46687c;}
.filtertable tbody tr{1px solid #e4edf2}
.filtertable tbody tr:last-child{ border-bottom:0px solid #46687c;}

.btn{font-size:16px; color:#fff; padding:6px 20px; border-radius:25px; -ms-border-radius:25px; -webkit-border-radius:25px; display:inline-block; line-height:26px; vertical-align:top; text-transform:uppercase; font-weight:400; border:0px;}
.btn img{ vertical-align:top; margin-left:5px;}
.btn:hover{ color:#fff;}

.delete{ background:#f09507;}
.save{ background:#22a7f4;}
.help{ background:#76b050;}

.orange{ background:#f2871e;}
.red{ background:#ee2a32;}
.red:hover{ background:#f25b61;}
.blue{ background:#0099f2; color:#fff;}
.blue:hover{ background:#0385d0; color:#fff;}

.form-group{ margin-bottom:10px; display:inline-block;}
.form-group:last-child{ margin-bottom:0px;}
.form-group:after, .form-group:before {display: table; content: " "; clear:both;}
.form-group .form-control{ background-color:#fff; border-radius:25px; -ms-border-radius:25px; -webkit-border-radius:25px; border:1px solid #cddee7; height:40px; line-height:40px; font-size:13px; color:#d7dfe4; font-weight:600; color:#828ca3;}

/* Checkbox */
.checkbox{ display: inline-block; margin: 0px; vertical-align: top;}
.checkbox label:after, .radio label:after {content: ''; display: table; clear: both;}
.checkbox .cr, .radio .cr { position: relative; display: inline-block; width: 22px; height: 22px; float: left; border-radius: 15px; background: #ed1c24; text-align:center;}
.radio .cr {color:#e4edf2;}
.checkbox .cr .cr-icon, .radio .cr .cr-icon {position: absolute; font-size: 13px; line-height: 0; top: 50%; left:0px; right:0px;}
.radio .cr .cr-icon { margin-left: 0.04em;}
.checkbox label{padding-left:0px;}
.checkbox label input[type="checkbox"], .radio label input[type="radio"] {display: none;}
.checkbox label input[type="checkbox"] + .cr > .cr-icon, .radio label input[type="radio"] + .cr > .cr-icon {opacity: 0;   transition: all .3s ease-in; color:#fff;}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon, .radio label input[type="radio"]:checked + .cr > .cr-icon {opacity: 1;}
.checkbox label input[type="checkbox"]:disabled + .cr, .radio label input[type="radio"]:disabled + .cr {opacity: .5;}

.block5{ width:20%; float:left; padding:0px 5px; text-align:center; margin-bottom:10px;}
.widgetblock{ border:1px solid #f1f2f4; background-color:#f0f5f8; padding:15px; position:relative; border-radius:10px; -webkit-border-radius:10px; -ms-border-radius:10px; position:relative;}
.widgetblock.noradius{ border-radius:0px; -webkit-border-radius:0px; -ms-border-radius:0px;}
.widgetblock h4{ color:#2086d0;}
.widgetblock .actionblock{position:absolute; right:0px; top:0px; display:inline-block;}
.widgetblock .actionblock .shareicon{ display:inline-block; width:32px; height:32px; line-height:32px; background:#8cc172; text-align:center; vertical-align:top;}
.widgetblock .actionblock .shareicon a{ display:block;}
.widgetblock .actionblock .shareicon a i{ color:#fff;}
.widgetblock .actionblock .export{ display:inline-block;}
.widgetblock > img{ width:100%;}

/* Login Page */
.login { background:url(../images/loginbg.jpg) no-repeat center center; background-size:cover; font-size:13px; color:#e4edf2;}
.loginblock{ max-width:580px; top:50%; left:50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); position:absolute; text-align:center;}
.loginblock .loginlogo{ margin-bottom:55px; text-align:center;}
.loginblock .form-group{ display:block;}
.loginblock .form-group .form-control{ background-color:transparent; border:1px solid rgba(255,255,255,0.25);}
.loginblock .form-group .inputgroup{ position:relative;}
.loginblock .form-group .inputgroup .form-control{ padding-left:40px;}
.loginblock .form-group .inputgroup i{ background:url(../images/icon-login.png) no-repeat; display:inline-block; width:40px; height:40px; position:absolute; left:0px; line-height:40px;}
.loginblock .form-group .inputgroup i.icon-login1{ background-position:0px 0px;}
.loginblock .form-group .inputgroup i.icon-login2{ background-position:0px -40px;}
.loginblock .form-group .inputgroup i.icon-login3{ background-position:0px -80px;}
.loginblock .form-group .checkbox .cr{ margin-top:3px; background:#414042; border:0px; border-radius:3px; -ms-border-radius:3px; -webkit-border-radius:3px; width:16px; height:16px;}
.loginblock .form-group .iagree{ font-size:13px; color:#e4edf2; font-weight:400; vertical-align:top; display:inline-block; line-height:22px;}
.loginblock .form-group .btn{ color:#ffffff; font-size:15px; font-weight:600; text-align:center; line-height:normal; padding:8px 0px 11px 0px;}
.loginblock .form-group .btn:hover{ color:#ffffff;}
.loginblock .form-group.loginwith{ position:relative; font-size:16px; color:#e4edf2; padding:10px 20px;}
.loginblock .form-group.loginwith:before{ height:1px; background:#565657; content:""; position:absolute; left:0px; width:25%; display:inline-block; top:50%;}
.loginblock .form-group.loginwith:after{ height:1px; background:#565657; content:""; position:absolute; right:0px; width:25%; display:inline-block; top:50%;}
.loginblock .form-group.socialicon a{ padding:0px 5px;}
.loginblock .form-group.havelogin{ font-size:15px; color:#e4edf2; font-weight:600; padding:10px 20px;}
.loginblock .form-group.havelogin p{ margin-bottom:10px;}
.loginblock .form-group.havelogin p:last-child{ margin-bottom:0px;}
.loginblock .form-group.havelogin a{color:#33ccff;}

.footertagline{ position:fixed; bottom:5%; left:0px; right:0px; text-align:center; font-family: 'sinkin_sans100_thin';}
.footertagline li{ display:inline-block; font-size:35px; color:#9b9b9d; position:relative; padding:0px 35px; font-weight:100;}
.footertagline li:first-child:before{ display:none;}
.footertagline li:before{ content:""; display:inline-block; width:0.4em; height:0.4em; position:absolute; left:0px; margin-left:-0.2em; background:#9a9a9b; border-radius:100%; -webkit-border-radius:100%; -ms-border-radius:100%; line-height:40px; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%);}

.wrapper{position: relative; height:100%;}
.sidebar-wrapper{ height:100%; width:65px; float:left; background-color: #3d4a53;}
.page-sidebar{ float: left; /*position: relative;*/ position: fixed; width:65px; padding:0px; height:100%; background-color: #3d4a53; z-index:999;}
.navbar{ width:100%; border:0px; z-index:10000; background-color: #3d4a53; border-radius:0px; -webkit-border-radius:0px; -ms-border-radius:0px; margin-bottom:0px;}
.navbar .navbar-brand{ padding:0px; width:100%; background:#ed1c24; text-align:center; height:65px; line-height:56px;}
.navbar .navbar-brand:hover{background:#ed1c24;}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{background:#ed1c24;}
.navbar-brand > img{ display:inline-block;}
.navbar .navbar-nav{ width:100%;}
.navbar .navbar-nav > li{ display:block; float:inherit; font-size:14px; clear:both; text-transform:uppercase;}
.navbar .navbar-nav > li:hover{ width:250px; position:relative;}
.navbar .navbar-nav > li > a{padding: 0px 0px; border-top:0px solid #43525c; display: block; position: relative; transition:none;}
.navbar .navbar-nav > li > a > i{width:65px; height:65px; background:url(../images/icon-mainmenu.png) no-repeat; content:""; display:inline-block; float:left;}
.navbar .navbar-nav > li:hover > a > i, .navbar .navbar-nav > li.active > a > i{background:#22a7f4 url(../images/icon-mainmenu-hover.png) no-repeat;}
.navbar .navbar-nav > li > a > i.icon-menu1{ background-position:0px 0px;}
.navbar .navbar-nav > li > a > i.icon-menu2{ background-position:0px -65px;}
.navbar .navbar-nav > li > a > i.icon-menu3{ background-position:0px -130px;}
.navbar .navbar-nav > li > a > i.icon-menu4{ background-position:0px -195px;}
.navbar .navbar-nav > li > a > i.icon-menu5{ background-position:0px -260px;}
.navbar .navbar-nav > li:hover > a, .navbar .navbar-nav > li.active > a, .navbar .navbar-nav > li.active > a:hover{background:#22a7f4; color: #fafbfb;}
.navbar .navbar-nav > li a > span{ display:none; line-height:65px;}
.navbar .navbar-nav > li:hover > a > span{display: inline; padding-left:10px; vertical-align:top;}
.navbar .navbar-nav > li .sub-menu {display: none; position: absolute; width: 194px; z-index: 2000;}
.navbar .navbar-nav > li:hover .sub-menu { display: block; left: 55px; margin-top: 0; position: absolute; top: 100%; width: 194px; z-index: 2000;background: #303a41}
.navbar .navbar-nav > li:hover .sub-menu > li > a{margin: 3px; color: #ced5db; display:block; padding: 9px 15px;}
.navbar .navbar-nav > li:hover .sub-menu > li:hover > a{background:#37424a}

ul.user-dropmenu{position:absolute; bottom:10px; left:0px; right:0px; text-align:center;}
ul.user-dropmenu .dropdown-menu{left:100%; bottom:0px; top:inherit; border:1px solid #cddee7; width:265px; margin-left:0px; border-radius:5px; -webkit-border-radius:5px; -ms-border-radius:5px; padding-top:10px; padding-bottom:10px;}
ul.user-dropmenu .dropdown-menu:before {content: ""; border-right:8px solid #fff; border-top: 5px solid transparent; border-bottom: 5px solid transparent; position: absolute; left:-7px; bottom: 16px; z-index: 1001; margin-top:2px;}
ul.user-dropmenu .dropdown-menu:after {content: ""; border-right: 8px solid #cddee7; border-top: 6px solid transparent; border-bottom: 6px solid transparent; position: absolute; left:-8px; bottom: 15px; z-index: 1000; margin-top:1px;}
ul.user-dropmenu > li > a{ padding:0px 0px;}
ul.user-dropmenu > li > a:hover, ul.user-dropmenu > li > a:focus, ul.user-dropmenu > li.open > a:hover, ul.user-dropmenu > li.open > a:focus{ background-color:transparent;}
ul.user-dropmenu .dropdown-menu > li > a{ color:#828ca3; padding:7px 20px;}

.menu-icon{display: block; position:relative; width:30px; height:18px; top:0px; left:1px; margin:0 auto 0; -o-transition: all 500ms ease-in; -webkit-transition: all 500ms ease-in; -moz-transition: all 500ms ease-in; transition: all 500ms ease-in;}
.menu-icon .icon-toggle {display: inline-block; transition: .3s; position: absolute; top:-4px; left:-1px; }
.menu-icon .icon-toggle .lines {display: inline-block; position: relative; width:30px; height: 2px; background-color: #fff;}
.menu-icon .icon-toggle .lines:before, .lines:after {content: ''; display: inline-block; width: 30px; height: 2px; background-color: #fff; position: absolute; left: 0; -webkit-transform-origin: 50% 50%; transform-origin: 50% 50%;}
.menu-icon .icon-toggle .lines:before {top: 6px;}
.menu-icon .icon-toggle .lines:after {top: -6px;}
.menu-icon .icon-toggle .lines {transition: background .3s .6s ease;}
.menu-icon .icon-toggle .lines:before, .menu-icon .icon-toggle .lines:after { -webkit-transform-origin: 50% 50%;  transform-origin: 50% 50%; transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease;transition: top .3s .6s ease, transform .3s ease;}

.opencoll .icon-toggle .lines {transition: background .3s 0s ease; background: transparent;}
.opencoll .icon-toggle .lines:before, .opencoll .icon-toggle .lines:after {transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease;  transition: top .3s ease, transform .3s .5s ease; top: 0; width: 30px;}
.opencoll .icon-toggle .lines:before {-webkit-transform: rotate3d(0, 0, 1, 45deg); -ms-transform: rotate(45deg); transform: rotate3d(0, 0, 1, 45deg);}
.opencoll .icon-toggle .lines:after {-webkit-transform: rotate3d(0, 0, 1, -45deg); -ms-transform: rotate(-45deg); transform: rotate3d(0, 0, 1, -45deg); }

.footer{ font-size:12px; color:#728996; text-align:right; clear:both; padding:10px;}

.content-wrapper{background:#e4edf2; float: left; width:calc(100% - 65px); -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
.content-wrapper .page-content{background: #f1f3fa;}
.content-wrapper .maincontent{ padding:10px 10px; width:100%; float:left;}

/* For Breadcrumbs */
.breadcrumbs{ background:#ffffff; width:100%; float:left; clear:both;}
.breadcrumbs ul.breadcrumbsmenu{display:table; float:left;}
.breadcrumbs ul.breadcrumbsmenu li{ display:table-cell; vertical-align:top; color:#828ca3; position:relative;}
.breadcrumbs ul.breadcrumbsmenu li a{font-size:16px; color:#828ca3; line-height:normal; display:block; text-align:center; min-height:65px; padding:0px 25px; padding-top:12px;}
.breadcrumbs ul.breadcrumbsmenu li a:after{border-bottom:5px solid transparent; content:""; bottom:0px; left:0px; right:0px; display:inline-block; position:absolute;}
.breadcrumbs ul.breadcrumbsmenu li.active a:after, .breadcrumbs ul.breadcrumbsmenu li a:hover:after{border-bottom:5px solid #22a7f4;}


.breadcrumbs ul.breadcrumbsmenu li a span{ display:block; line-height:10px; font-size:12px; color:#828ca3;}
ul.round-dropmenu{ float:right; margin:11px 10px;}
ul.round-dropmenu .dropdown-menu{left:inherit; right:0px; width:265px; border:1px solid #cddee7; margin-top:8px; max-height:325px; overflow-y:auto; border-radius:5px; -webkit-border-radius:5px; -ms-border-radius:5px; padding-top:10px; padding-bottom:10px;}
ul.round-dropmenu li.dropdown.open .dropdown-toggle:before {content: ""; border-bottom:8px solid #fff; border-right: 5px solid transparent; border-left: 5px solid transparent; position: absolute; top: 100%; right: 16px; z-index: 1001; margin-top:2px;}
ul.round-dropmenu li.dropdown.open .dropdown-toggle:after {content: ""; border-bottom: 8px solid #cddee7; border-right: 6px solid transparent; border-left: 6px solid transparent; position: absolute; top: 100%; right: 15px; z-index: 1000; margin-top:1px;}
ul.round-dropmenu > li > a{ border:1px solid #cddee7; border-radius:25px; -webkit-border-radius:25px; -ms-border-radius:25px; font-size:13px; color:#828ca3; padding:11px 15px 11px 25px;}
ul.round-dropmenu > li > a .caret{ border-width:6px; margin-top:-2px;}
ul.round-dropmenu > li > a .dropdowntext{ margin-right:25px;}
ul.round-dropmenu > li > a:hover, ul.round-dropmenu > li.open > a:hover, ul.round-dropmenu > li > a:focus, ul.round-dropmenu > li.open > a:focus{border:1px solid #cddee7; background:transparent;}
ul.round-dropmenu .dropdown-menu > li > a{ color:#828ca3; padding:7px 20px;}


.addblock{ display:inline-block; background:#ffffff; font-size:14px; font-weight:600; border-radius:5px; -webkit-border-radius:5px; -ms-border-radius:5px; color:#7e8daa; text-align:center; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease;}
.addblock a{ padding:25px; display:inline-block;}
.addblock a i.icon-add{ color:#7e8daa; margin-bottom:10px; background:url(../images/icon-add.png) no-repeat left top; width:32px; height:32px; display:inline-block; content:"";}
.addblock a span{ display:block; text-transform:uppercase; color:#878e98;}
.addblock:hover{ background:#22a7f4;}
.addblock:hover a i.icon-add{background:url(../images/icon-add-hover.png) no-repeat left top;}
.addblock:hover a span{ color:#fff;}

.searchrow { text-align:right; position:relative; display:inline-block;}
.searchrow input.form-control{border:1px solid #cddee7; position:relative; background:#fff; width:280px; padding-right:40px; color:#bbccd6; font-size:14px; font-weight:400;}
.searchrow ::-moz-placeholder {color:#bbccd6; font-weight:normal; font-family: 'Roboto', sans-serif; opacity:1;}
.searchrow ::-web-placeholder {color:#bbccd6; font-weight:normal; font-family: 'Roboto', sans-serif; opacity:1;}
.searchrow i{ background:url(../images/icon-search.png) no-repeat left top; position:absolute; right:20px; top:12px; width:17px; height:17px; display:inline-block; content:"";}
.pageingrow{ text-align:right;}
.pageingrow .pageing .pagination{ margin:13px 0px;}
.pageing{ display:inline-block; text-align:left;}
.pagination > li{ padding:0px 3px; display:inline-block;}
.pagination > li > a, .pagination > li > span{border-radius:100%; -webkit-border-radius:100%; -ms-border-radius:100%; border:1px solid #d2dbe2; color:#46687c; padding:3px 9px;}
.pagination > li:last-child > a, .pagination > li:last-child > span, .pagination > li:first-child > a, .pagination > li:first-child > span{border-radius:0%; -webkit-border-radius:0%; -ms-border-radius:0%;}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{background-color:#24a7f5;}
.pageingrow .selectpage{ display:inline-block; text-align:right; vertical-align:top; margin-top:7px;}
.pageingrow .selectpage select{ border:1px solid #d2dbe2; width:70px;}

.campaignlist{}
.campaignlist .campaignblock{ background:#fff; display:table; width:100%; border-radius:5px; -webkit-border-radius:5px; -ms-border-radius:5px; margin-bottom:10px;}
.campaignlist .campaignblock .campaigninfo{display:table-cell; vertical-align:bottom; padding:15px; font-size:14px; color:#bbccd6;}
.campaignlist .campaignblock .campaigninfo h6{ color:#0099f2; margin-bottom:5px;}
.campaignlist .campaignblock .campaigninfo h6 a{color:#0099f2;}

.campaignlist .campaignblock .campaignicon{display:table-cell; text-align:center; width:95px; vertical-align:middle; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
.campaignlist .campaignblock .campaignicon i{ width:95px; height:95px; display:inline-block; content:""; color:#fff; background:url(../images/campaignlist-icon.png) no-repeat}
.campaignlist .campaignblock .campaignicon i.campaignlist-icon1{ background-position:0px 0px;}
.campaignlist .campaignblock .campaignicon i.campaignlist-icon2{ background-position:0px -95px;}
.campaignlist .campaignblock .campaignicon i.campaignlist-icon3{ background-position:0px -190px;}
.campaignlist .campaignblock .campaignicon i.campaignlist-icon4{ background-position:0px -285px;}
.campaignlist .campaignblock .campaignicon.pink{ background:#be5496;}
.campaignlist .campaignblock .campaignicon.green{ background:#829c5b;}
.campaignlist .campaignblock .campaignicon.blue{ background:#5c9fc9;}
.campaignlist .campaignblock .campaignicon.yellow{ background:#e3c553;}

/* For Tabs */

.bs-example{ position:relative;}
.bs-example-tabs > ul{ background:#f0f5f8; border-bottom:1px solid #d3dbde; -webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; border-top-left-radius: 10px; -webkit-border-top-right-radius: 10px; -moz-border-radius-topright: 10px; border-top-right-radius: 10px;}
.bs-example-tabs > ul li{ margin-bottom:-1px; float:left;}
.bs-example-tabs > ul li > a{border: 1px solid transparent; border-right:1px solid #d3dbde; margin-right:0px; text-align:center; padding:20px 25px;}
.bs-example-tabs > ul li > a i{ color:#456478;}
.bs-example-tabs > ul li > a span.text{ display:block; text-align:center; color:#83859c;}
.bs-example-tabs > ul li:first-child{-webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; border-top-left-radius: 10px;}
.bs-example-tabs > ul li:first-child > a{-webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; border-top-left-radius: 10px;}
.bs-example-tabs .nav-tabs > li.active > a, .bs-example-tabs .nav-tabs > li.active > a:focus, .bs-example-tabs .nav-tabs > li.active > a:hover{border-color:transparent; border-right:1px solid #d3dbde;}

.bs-example-tabs .tab-content{background:#ffffff; padding:10px; -webkit-border-bottom-right-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomright: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;}


.createcampaign{ text-align:center;}
.createcampaign > .nav-tabs{ display:inline-block; margin-bottom:25px; border-bottom:0px;}
.createcampaign > .nav-tabs li{ margin-left:3px;  margin-right:3px;}
.createcampaign > .nav-tabs li.active:after{border-top:14px solid #fff; border-left:8px solid transparent; border-right:8px solid transparent; display:inline-block; content:""; position:absolute; left:50%; bottom:-14px; transform:translateX(-50%); -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%);}
.createcampaign > .nav-tabs li a{ border:0px; background:#f0f5f8; color:#bdcad2; padding:15px 10px; min-width:225px; text-align:left; border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px;}
.createcampaign > .nav-tabs li.active a{ color:#4e6670;}
.createcampaign > .nav-tabs li a .number{ border-radius:100%; -webkit-border-radius:100%; -ms-border-radius:100%; background:#e7eef4; color:#bdcad2; width:40px; height:40px; display:inline-block; text-align:center; line-height:37px; margin-right:10px; font-size:18px; font-style:normal;}
.createcampaign > .nav-tabs li a .steptitle{ font-size:15px;}
.createcampaign > .nav-tabs li.active a .number{ color:#fff; background:#22a7f4;}
.createcampaign > .nav-tabs li a:hover{ border:0px; background:#f0f5f8;}
.createcampaign > .nav-tabs > li.active > a, .createcampaign > .nav-tabs > li.active > a:focus, .createcampaign > .nav-tabs > li.active > a:hover{border:0px; background:#fff;}
.createcampaign > .tab-content .tab-pane{ text-align:left;}
.createcampaign > .tab-content .modal-footer{border-top:0px; margin-top:20px; clear:both;}

.createcampaignstep1 .createcampaign{clear:both; width:100%; float:left;}
.createcampaignstep1 .campaignname{ text-align:left; margin-bottom:15px;}
.createcampaignstep1 .campaignname input.form-control{border:1px solid #cddee7; position:relative; background:#fff; width:280px; padding-right:40px; color:#bbccd6; font-size:14px; font-weight:400;}
.createcampaignstep1 .campaignname ::-moz-placeholder {color:#bbccd6; font-weight:normal; font-family: 'Roboto', sans-serif; opacity:1;}
.createcampaignstep1 .campaignname ::-web-placeholder {color:#bbccd6; font-weight:normal; font-family: 'Roboto', sans-serif; opacity:1;}
.createcampaignstep1 .bs-example-tabs ul li{ width:20%;}
.createcampaignstep1 .bs-example-tabs ul li > a{ min-height:85px; font-size:15px;}
.createcampaignstep1 .bs-example-tabs ul li.active > a:hover{}
.createcampaignstep1 .datadriven-tab h6{ color:#324048; margin:15px 0px 25px 0px; display:block;}
.createcampaignstep1 .datadriven-tab .widgetblock{ padding-top:17%;  padding-bottom:17%;}
.createcampaignstep1 .datadriven-tab .widgetblock:hover, .datadriven-tab .widgetblock.active{ background:#d3e1e4;}
.createcampaignstep1 .datadriven-tab .widgetblock > i{width:65px; height:65px; background:url(../images/icon-createcampaign.png) no-repeat; content:""; display:inline-block;}
.createcampaignstep1 .datadriven-tab .widgetblock:hover > i, .datadriven-tab .widgetblock.active i{background:url(../images/icon-createcampaign-hover.png) no-repeat;}
.createcampaignstep1 .datadriven-tab .widgetblock > i.icon-createcampaign1{ background-position:0px 0px;}
.createcampaignstep1 .datadriven-tab .widgetblock > i.icon-createcampaign2{ background-position:0px -65px;}
.createcampaignstep1 .datadriven-tab .widgetblock > i.icon-createcampaign3{ background-position:0px -130px;}
.createcampaignstep1 .datadriven-tab .widgetblock > i.icon-createcampaign4{ background-position:0px -195px;}
.createcampaignstep1 .datadriven-tab .widgetblock > i.icon-createcampaign5{ background-position:0px -260px;}
.createcampaignstep1 .datadriven-tab .widgetblock > i.icon-createcampaign6{ background-position:0px -325px;}
.createcampaignstep1 .datadriven-tab .widgetblock > i.icon-createcampaign7{ background-position:0px -390px;}

.createcampaignstep2 .workflow{ clear:both; width:100%; float:left;}
.createcampaignstep2 .workflowlistblock{ width:195px; float:left;}
.createcampaignstep2 .workflowlistblock ul li{ margin-bottom:5px;}
.createcampaignstep2 .workflowlistblock ul li a{ border-radius:5px; -webkit-border-radius:5px; -ms-border-radius:5px; display:block; padding:10px; color:#423e3e;}
.createcampaignstep2 .workflowlistblock ul li a i{ color:#215a7a; display:inline-block; margin-right:5px;}
.color1{ background:#ffffff;}
.color2{ background:#e2bf97;}
.color3{ background:#b59be5;}
.color4{ background:#e4a8dc;}
.color5{ background:#9bddcb;}
.color6{ background:#b5dd9b;}
.color7{ background:#dbdd9b;}
.color8{ background:#ddaf9b;}
.color9{ background:#dd9ba1;}
.color10{ background:#9ba0dd;}
.color11{ background:#76b1de;}

.createcampaignstep2 .createworkflow{ width:calc(100% - 530px); float:left; padding:0px 10px;}
.createcampaignstep2 .workflowfilter{ width:335px; float:right; background:#ffffff; border-radius:5px; -webkit-border-radius:5px; -ms-border-radius:5px; display:block; padding:20px 10px 10px 10px; }
.createcampaignstep2 .workflowfilter h5{ color:#298fc7; padding:0px 0px 15px 10px;}
.createcampaignstep2 .bs-example-tabs ul{ border-bottom:0px; background:none;}
.createcampaignstep2 .workflowfilter .nav-tabs > li > a{background:#f0f5f6; padding:5px 15px; border:0px; border-right:1px solid #fff; color:#324048;}
.createcampaignstep2 .workflowfilter .nav-tabs > li.active > a, .createcampaignstep2 .nav-tabs > li.active > a:focus, .createcampaignstep2 .nav-tabs > li.active > a:hover{ background:#f0f5f6; border:0px; border-right:1px solid #fff;}
.createcampaignstep2 .bs-example-tabs ul li > a span.text{ color:#324048;}
.createcampaignstep2 .workflowfilter .nav-tabs > li > a i{ transform:rotate(-45deg); -webkit-transform:rotate(-45deg); -ms-transform:rotate(-45deg); color:#d42b32; font-size:16px;}
.createcampaignstep2 .workflowfilter .tab-content{background:#f0f5f6;}

.createcampaignstep2 .bs-example-tabs .tab-content ul{ border-bottom:1px solid #bbccd6; background:none;}
.createcampaignstep2 .workflowfilter .tab-content .nav-tabs > li > a{background:#f0f5f6; padding:5px 15px; border-right:0px solid #fff; color:#324048;}
.createcampaignstep2 .workflowfilter .tab-content .nav-tabs > li{ margin-bottom:0px;}
.createcampaignstep2 .workflowfilter .tab-content .nav-tabs > li a{ border-bottom:3px solid #f0f5f6;}
.createcampaignstep2 .workflowfilter .tab-content .nav-tabs > li.active > a, .createcampaignstep2 .workflowfilter .tab-content .nav-tabs > li.active > a:focus, .createcampaignstep2 .workflowfilter .tab-content .nav-tabs > li.active > a:hover{border-bottom:3px solid #d2232a;}
.createcampaignstep2 .workflowfilter .tab-content .tab-pane{ min-height:530px;}

.createcampaignstep3 .summary{ width:560px; margin:0px auto;}
.createcampaignstep3 .summary .accordionblock .panel{ border:0px;}
.createcampaignstep3 .summary .accordionblock .panel-default > .panel-heading{ background-color:transparent;}
.createcampaignstep3 .summary .accordionblock .panel-default > .panel-heading h4.panel-title > a{ color:#298fc7; font-size:18px; font-weight: 300;}
.createcampaignstep3 .summary .accordionblock .panel-default > .panel-heading + .panel-collapse > .panel-body{ border-top:0px;}
.createcampaignstep3 .summary .accordioncontent a.btn{ border-radius:5px; -webkit-border-radius:5px; -ms-border-radius:5px; background:#e9da95; color:#46687c; font-size:15px;}
.createcampaignstep3 .summary .accordioncontent{}
.createcampaignstep3 .summary .accordioncontent.datasource{ color:#46687c;}
.createcampaignstep3 .summary .accordioncontent.datasource p{ margin-bottom:15px;}
.createcampaignstep3 .summary > .progress{ height:8px; background-color:#bbccd6; overflow:inherit; color:#46687c; text-align:right; position:relative;}
.createcampaignstep3 .summary > .progress > .progress-bar-danger{background-color: #ad0507; border-radius:5px; -webkit-border-radius:5px; -ms-border-radius:5px; text-indent:-9999px;}
.createcampaignstep3 .summary > .progress > .progressrate{ position:absolute; right:0px; bottom:-20px;}


.dashboardsummary{ position:relative;}
.dashboardsummary .bs-example-tabs ul li > a span.text{font-size: 16px;}
.dashboardsummary .bs-example-tabs ul li > a i{width:24px; height:24px; background:url(../images/icon-dashboard.png) no-repeat; content:""; display:inline-block;}
.dashboardsummary .bs-example-tabs ul li > a i.icon-dashboard1{ background-position:0px 0px;}
.dashboardsummary .bs-example-tabs ul li > a i.icon-dashboard2{ background-position:0px -24px;}
.dashboardsummary .bs-example-tabs ul li > a i.icon-dashboard3{ background-position:0px -48px;}
.dashboardsummary .bs-example-tabs ul li > a i.icon-dashboard4{ background-position:0px -72px;}
.dashboardsummary .bs-example-tabs ul li > a i.icon-dashboard5{ background-position:0px -96px;}
.dashboardsummary .bs-example-tabs ul li > a i.icon-dashboard6{ background-position:0px -120px;}
.dashboardsummary .bs-example-tabs ul li > a i.icon-dashboard7{ background-position:0px -144px;}
.dashboardsummary .bs-example-tabs ul li > a i.icon-dashboard8{ background-position:0px -168px;}
.dashboardsummary .bs-example-tabs ul li > a i.icon-dashboard9{ background-position:0px -192px;}
.dashboardsummary .bs-example-tabs ul li > a i.icon-dashboard10{ background-position:0px -216px;}

.dashboarddiscovery{ border-radius:10px; -webkit-border-radius:10px; -ms-border-radius:10px; background:#fff; padding:10px; text-align:center;}
.dashboarddiscovery .graphresult{ margin-top:5px; margin-bottom:40px;}
.dashboarddiscovery .graphresult ul{ text-align:left; font-size:15px;}
.dashboarddiscovery .graphresult ul li{ display:inline-block; font-weight:500; padding-left:10px; margin-right:50px;}
.dashboarddiscovery .graphresult ul li.currentpost{ color:#22a7f4; border-left:3px solid #22a7f4;}
.dashboarddiscovery .graphresult ul li.totalpost{ color:#f68f15; border-left:3px solid #f68f15;}
.dashboarddiscovery .graphresult ul li span{ display:block; color:#828ca3; font-size:20px;}
.dashboarddiscovery .widgetblock{border:1px solid #f1f2f4; background:transparent; margin-bottom:10px;}
.dashboarddiscovery ul.round-dropmenu{ margin:0px;}
.dashboarddiscovery ul.round-dropmenu > li > a{border:0px;}
.dashboarddiscovery .export ul.round-dropmenu > li > a:hover, .dashboarddiscovery .export ul.round-dropmenu > li.open > a:hover, .dashboarddiscovery .export ul.round-dropmenu .export ul.round-dropmenu > li > a:focus, .dashboarddiscovery .export ul.round-dropmenu > li.open > a:focus{border:0px;}
.dashboarddiscovery .export ul.round-dropmenu i.iconfilter{ background:url(../images/icon-export.png) no-repeat left top; display:inline-block; content:""; width:16px; height:16px; vertical-align:top; margin-right:5px;}
.dashboarddiscovery .export ul.round-dropmenu > li > a .dropdowntext{ margin-right:10px;}


.insighttab{ position:relative;}
.filtermenu{ }
.filtermenu > ul.round-dropmenu{ margin:0px;}
.filtermenu > ul.round-dropmenu i.iconfilter{ background:url(../images/icon-filter.png) no-repeat left top; display:inline-block; content:""; width:16px; height:16px; vertical-align:top; margin-right:5px;}
.filtermenu > ul.round-dropmenu > li{ display:inline-block; position:inherit;}
.filtermenu > ul.round-dropmenu > li > a{ background:#fff; position:absolute; right:12px; top:25px; right:20px;}
.filtermenu > ul.round-dropmenu li.dropdown.open .dropdown-toggle:before {content: ""; border-bottom:16px solid rgba(50, 64, 72, 0.9); border-right: 8px solid transparent; border-left: 8px solid transparent; position: absolute; top: 50px; right: 50%; z-index: 1001; margin-top:2px; margin-right:-8px;}
.filtermenu > ul.round-dropmenu li.dropdown.open .dropdown-toggle:after { display:none;}
.filtermenu > ul.round-dropmenu > li > a .dropdowntext{margin-right:5px;}
.filtermenu > ul.round-dropmenu .dropdown-menu{ max-height:inherit; width:inherit; left:0px; right:0px; top:93px; margin-top:0px; background:rgba(50, 64, 72, 0.9); overflow:hidden; padding:20px;}
.filtermenu > ul.round-dropmenu > li > a:hover, .filtermenu > ul.round-dropmenu > li.open > a:hover, .filtermenu > ul.round-dropmenu > li > a:focus, ul.round-dropmenu > li.open > a:focus{ background:#fff;}
.advancesearch { font-size:15px; color:#ffffff;}
.advancesearch .col-lg-4{ padding:0px 20px;}
.advancesearch .form-group .inputgroup label{ font-size:18px; color:#fff; display:block;}
.advancesearch .form-group{ display:block; font-size:15px; }
.advancesearch .form-group.gray{ color:#afb5b8;}
.advancesearch .form-group .form-control{ position:relative; vertical-align:middle; margin-right:5px; vertical-align: middle;}
.advancesearch .form-group input.form-control.gray{ background:#b0b5b8; color:#828ca3; border:1px solid #828ca3;}
.advancesearch .form-group select.form-control.gray{ background:#b0b5b8; color:#828ca3; border:1px solid #828ca3;}




.dashboardtab .widgetblock{border:1px solid #f1f2f4; background:transparent; margin-bottom:10px;}
.dashboardtab .widgetblock h5{ color:#298fc7; font-weight:300; margin:0px 0px 10px 0px;}
.dashboardtab .widgetblock .gridtable{ color:#828ca3;}
.dashboardtab .widgetblock .gridtable tbody tr:first-child{ border-top:1px solid #e4edf2}
.emotionstab .widgetblock h5{ text-align:left; margin-bottom:10px; margin-top:0px;}


.pattern{border-bottom:1px solid #ccdee2; margin-bottom:20px; padding-bottom:20px;}
.pattern .row{ margin-bottom:0px;}
.pattern:last-child{border-bottom:0px solid #ccdee2;}
.pattern .widgetblock{border:0px;}
.pattern .widgetblock:after{background:#f68a25; height:5px; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; position:absolute; bottom:0px; left:0px; right:0px; content:"";}
.pattern .widgetblock h5{ text-align:left; font-weight:300; color:#1e8dc5; border-bottom:1px solid #d0dadc; min-height:80px; padding:0px 5px 10px 5px;}
.pattern .widgetblock .countnumber{ text-align:left; color:#46687c; font-size:22px; padding:20px 70px 10px 5px; width:100%; display:inline-block; font-weight:300; position:relative; min-height:85px;}
.pattern .widgetblock .countnumber i{ width:60px; height:60px; display:inline-block; background:url(../images/icon-patterns.png) no-repeat; content:""; vertical-align:top; float:right; margin-left:10px; position:absolute; right:0px; bottom:0px;}
.pattern .widgetblock .countnumber i.iconpatterns1{ background-position:0px 0px;}
.pattern .widgetblock .countnumber i.iconpatterns2{ background-position:-60px 0px;}
.pattern .widgetblock .countnumber i.iconpatterns3{ background-position:-120px 0px;}
.pattern .widgetblock .countnumber i.iconpatterns4{ background-position:-180px 0px;}
.pattern .widgetblock .countnumber i.iconpatterns5{ background-position:-240px 0px;}
.pattern .widgetblock .countnumber i.iconpatterns6{ background-position:-300px 0px;}
.pattern .widgetblock .countnumber i.iconpatterns7{ background-position:-360px 0px;}
.pattern .widgetblock .countnumber i.iconpatterns8{ background-position:-420px 0px;}
.pattern .widgetblock .countnumber i.iconpatterns9{ background-position:-480px 0px;}

.visuals .widgetblock{ padding:0px;}
.visuals .widgetblock .img{/* height:250px;*/ overflow:hidden; border-radius:10px; -webkit-border-radius:10px; -ms-border-radius:10px;}
.visuals .widgetblock .img img{ width:100%; border-radius:10px; -webkit-border-radius:10px; -ms-border-radius:10px;}
.visuals .widgetblock .iconplay{ background:url(../images/icon-play.png) no-repeat center center; width:50px; height:50px; display:inline-block; content:""; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);}
.visuals .widgetblock h6{ position:absolute; padding:10px; text-align:left; min-height:60px; bottom:0px; left:0px; right:0px; background:rgba(240,245,248,0.8); color:#466577; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }

.catblock{ display:inline-block; background:#ffffff; font-size:14px; font-weight:600; border-radius:5px; -webkit-border-radius:5px; -ms-border-radius:5px; color:#7e8daa; text-align:center; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; margin-bottom: 15px;}
.catblock a {display: inline-block; padding: 25px;}
.catblock a span { color: #828ca3; display: block; font-size: 13px; font-weight: normal;}
.catblock:hover {background: #d3e1e4;}
.catblock img {margin-bottom: 12px;}

.comparative h4{ color:#298fc7; font-weight:300; margin-bottom:10px;}
.comparative .bs-example-tabs > ul{ background-color:transparent;  border-bottom:0px solid #d3dbde; -webkit-border-top-left-radius:0px; -moz-border-radius-topleft: 0px; border-top-left-radius: 0px; -webkit-border-top-right-radius: 0px; -moz-border-radius-topright: 0px; border-top-right-radius: 0px; margin-bottom:10px;}
.comparative .bs-example-tabs > ul li{-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
.comparative .bs-example-tabs > ul li > a{-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border-right:0px; background:#f0f5f6; margin-right:5px; margin-bottom:5px;}
.comparative .bs-example-tabs .nav-tabs > li.active > a, .comparative .bs-example-tabs .nav-tabs > li.active > a:focus, .comparative .bs-example-tabs .nav-tabs > li.active > a:hover{ border-right:0px; background:#d3e1e4;}

.comparative .panel-group{margin-bottom:0px;}
.comparative .tab-content{background-color:transparent; -webkit-border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px;}
.comparative .panel{background-color:transparent; border-color:transparent; box-shadow:none; position:relative;}
.comparative .panel-default > .panel-heading{ display:inline-block; margin-bottom:-5px; background:#fff; color:#828ca3; font-size:15px; width:70%; padding:15px 15px}
.comparative .panel-default > .panel-heading h4{ margin-bottom:0px;}
.comparative .panel-default > .panel-heading a{ color:#828ca3; font-weight:400; display:block;}
.comparative .panel-default > .panel-heading + .panel-collapse > .panel-body{border-color:transparent; background:#ffffff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}


.whispersadd{ position:absolute; top:0px; right:20px; background:#5eb71c; width:42px; height:42px; text-align:center; line-height:38px; font-size:26px; font-weight:600; color:#fff; border-radius:100%; -webkit-border-radius:100%; -ms-border-radius:100%; z-index:9;}
.whispersadd:hover{color:#fff;}
.whispersremove{ position:absolute; bottom:-21px; right:20px; background:#ed831c; width:42px; height:42px; text-align:center; line-height:42px; font-size:24px; font-weight:100; color:#fff; border-radius:100%; -webkit-border-radius:100%; -ms-border-radius:100%;}
.whispersremove:hover{ color:#fff;}
.comparative .whispersblock{}
.comparative .whispersblock .whispersrow{ width:100%; float:left; margin-bottom:20px;}
.whispersrow ul.round-dropmenu{ float:left; margin:0px;}
.whispersrow ul.round-dropmenu .dropdown-menu{ left:inherit; right:inherit;}
.whisperaction{ float:right; margin-top:8px;}
.whisperaction a{ display:inline-block;}
.whisperaction i{ width:26px; height:26px; background:url(../images/icon-whisperaction.png) no-repeat; display:inline-block;}
.whisperaction i.whisperaction-icon1{ background-position:0px 0px;}
.whisperaction i.whisperaction-icon2{ background-position:-26px 0px;}
.whisperaction i.whisperaction-icon3{ background-position:-52px 0px;}
.whisperaction i.whisperaction-icon4{ background-position:-78px 0px;}
.comparative .whispersblock .overflowy{  width:100%; float:left; overflow-y:auto; max-height:250px;}


.analyticsdatadetailsrow1{ background:#f0f5f6; padding:15px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.analyticsdatadetailsrow1 .selectpage{margin-top:0px;}

.analyticsdatadetailsrow2{ background:#fff; padding:15px; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
.analyticsdatadetailsrow2 .checkbox .cr, .analyticsdatadetailsrow2 .radio .cr{ border-radius:3px; -webkit-border-radius:3px; -ms-border-radius:3px; background:#bbccd6; margin-top:5px;}
.analyticsdatadetailsrow2 .checkbox label input[type="checkbox"] + .cr > .cr-icon, .analyticsdatadetailsrow2 .radio label input[type="radio"] + .cr > .cr-icon{ color:#46687c;}
.analyticsdatadetailsrow2 table{ font-size:16px;}

.analyticssearch{ border-bottom:1px solid #bbccd6; padding-bottom:10px;}
.analyticssearch .form-group{ margin-bottom:0px;}

.analyticsdashrow2{}
.analyticsdashrow2 .form-group{ vertical-align:top;}
.analyticsdashrow2 .form-group input{ color:#bbccd6; font-size:14px; font-weight:400; }
.analyticsdashrow2 ul.round-dropmenu{ float:none; display:inline-block; padding:0px; margin:0px;}
.analyticsdashrow2 ul.round-dropmenu > li > a{ background:#fff;}
.analyticsdashrow2 ul.visualizationmenu .dropdown-menu{ right:0px; max-height:inherit; width:185px; background:rgba(70,104,124,0.9); border:0px;}
.analyticsdashrow2 ul.visualizationmenu li.dropdown.open .dropdown-toggle:before {border-bottom:8px solid rgba(70,104,124,0.9);}
.analyticsdashrow2 ul.visualizationmenu li.dropdown.open .dropdown-toggle:after {border-bottom: 8px solid rgba(70,104,124,0.9);}
.analyticsdashrow2 ul.visualizationmenu > li > a.orange{ background:#f2871e; color:#fff; padding:0px; line-height:26px; padding:6px 10px 6px 20px; font-size:16px; border:0px;}
.analyticsdashrow2 ul.visualizationmenu > li > a span.visualization{ width:25px; height:25px; background:url(../images/icon-visualizationmenu.png) no-repeat; display:inline-block; content:""; vertical-align:top;}
.analyticsdashrow2 ul.visualizationmenu .dropdown-menu li a{ color:#fff; line-height:35px; font-size:16px;}
.analyticsdashrow2 ul.visualizationmenu .dropdown-menu > li > a:focus, .analyticsdashrow2 ul.visualizationmenu .dropdown-menu > li > a:hover{ background:rgba(50,70,90,0.9);}
.analyticsdashrow2 ul.visualizationmenu .dropdown-menu li i{ width:35px; height:35px; margin-right:15px; display:inline-block; content:""; background:url(../images/icon-visualization.png) no-repeat;  vertical-align:top;}
.analyticsdashrow2 ul.visualizationmenu .dropdown-menu li i.icon-visualization1{ background-position:0px 0px;}
.analyticsdashrow2 ul.visualizationmenu .dropdown-menu li i.icon-visualization2{ background-position:0px -35px;}
.analyticsdashrow2 ul.visualizationmenu .dropdown-menu li i.icon-visualization3{ background-position:0px -70px;}
.analyticsdashrow2 ul.visualizationmenu .dropdown-menu li i.icon-visualization4{ background-position:0px -105px;}
.analyticsdashrow2 ul.visualizationmenu .dropdown-menu li i.icon-visualization5{ background-position:0px -140px;}
.analyticsdashrow2 ul.visualizationmenu .dropdown-menu li i.icon-visualization6{ background-position:0px -175px;}
.analyticsdashrow2 ul.visualizationmenu .dropdown-menu li i.icon-visualization7{ background-position:0px -210px;}

.analyticsdashrow3 .analyticswidget{ background:#f0f5f6; border-radius:5px; -webkit-border-radius:5px; -ms-border-radius:5px;}
.analyticswidgetheader{ padding:10px;}
.analyticswidgetheader h6{ color:#298fc7;}
.analyticswidget .actionicon{ text-align:right;}
.analyticswidget .actionicon i{ width:23px; height:23px; background:url(../images/icon-visualizationwidget.png) no-repeat; display:inline-block; content:""; vertical-align:top; margin:0px 5px;}
.analyticswidget .actionicon i.icon-actionicon1{background-position:0px 0px;}
.analyticswidget .actionicon i.icon-actionicon2{background-position:-23px 0px;}
.analyticswidget .actionicon i.icon-actionicon3{background-position:-46px 0px;}
.analyticswidget .actionicon i.icon-actionicon4{background-position:-69px 0px;}
.analyticswidget .actionicon i.icon-actionicon5{background-position:-92px 0px;}
.analyticswidget .actionicon i.icon-actionicon6{background-position:-115px 0px;}
.analyticswidget .actionicon i.icon-actionicon7{background-position:-138px 0px;}

.analyticswidgetcontent{ background:#fff; min-height:350px;}
.analyticswidgetfooter{ padding:5px 10px;}
.analyticswidgetfooter .datatime{ font-size:12px; color:#828ca3;}
.analyticswidgetfooter .setting{ font-size:13px; color:#828ca3; font-weight:600;}

/*yogesh 20-7-16*/





/*end yogesh 20-7-16*/